<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>система</title>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>


    <link href="/static/dist/selectr.min.css" rel="stylesheet">
    <script src="/static/dist/selectr.min.js"></script>

    <link href="/static/css/styles.css" rel="stylesheet" media="screen">

    <script src="/static/js/form_control.js"></script>

</head>
<body>

    <div>
        <h3>Выбор программ обучения и стажировок за рубежом</h3>
    </div>

    <div class="parent">
            <input value="справка &#9660;" class="info-btn" id ="info-btn" type="button" >
        <div class="info" id="info">
            В поле "искомые дескрипторы" дескрипторы вводятся следующими способами:
            через & - пересечение результирующих множеств либо через | - объединение результирующих множеств.
            В поле "исключаемые дескрипторы" можно ввести дескрипторы, которые не должны появляться на веб-страницах
            поисковой выдачи
            (разность результирующих множеств).
            В выпадающем списке "университеты и программы" необходимо выбрать один или несколько
            пунктов. Отправление поискового запроса осуществяется путем нажатия на кнопку "Искать".
            При некорректности вводимых данных после нажатия на кнопку "Искать" выводятся примечания к некорректно
            заполненным полям.
            После отправки поскового запроса в блоке анализа результатов выводится анализ
            поисковой выдачи, а в блоке поисковой выдачи сама поисковая выдача.
        </div>
    </div>


    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            <p>
                <span>
                    {{ form.search() }}
                    <input value="&" class="and_or" id ="and" type="button" >
                    <input value="|" class="and_or" id ="or" type="button" >
                </span>

                <span id="search_error" class="error">
                </span>
                <p>
                    {{form.unwanted_words}}
            <span id="unwanted_error" class="error"></span>
                </p>
            </p>
        </div>
        <div>
            <p>
            <span>
                {{ form.select_url() }}
            </span>
            <span id="select_error" class="error">
            </span>
            </p>
        </div>
        <div style=" width:100%;display:inline-block;">
            <p style='float: right;'>
                {{ form.search_btn() }}
            </p>
        </div>
    </form>


<div id="parent">
    <div class="right" id="hints">Блок анализа результатов</div>
    <div class="left results" id="results">Блок поисковой выдачи</div>
</div>


  <!--<footer>-->
    <!--Сурикова Ольга, ИУ5-84, МГТУ им.Н.Э.Баумана-->
  <!--</footer>-->


</body>
</html>
